<!-- <div class="col-md-6 col-md-offset-3 margin-top-adjustment">        
        <div class="row">
            <like-button></like-button>
        </div>
        <div class="row">
            <app-two-way></app-two-way>
        </div>
</div> -->

<!-- <h1>Cursos da Seccim</h1>
<ul>
    <ng-container *ngFor="let curso of cursosComplex">
        <li *ngIf="curso.exibicao">
                {{curso.nomeCurso}}
        </li>
    </ng-container>
</ul> -->

<!-- <router-outlet></router-outlet> -->

<!-- 

{{title}} 

<span [hidden]="true">
    texto
</span>   -->
<!-- 
<h1>Cursos da Seccim</h1>

<ul>
    <li *ngFor="let curso of cursosComplex" [hidden]="!curso.exibicao">
            {{curso.nomeCurso}}
    </li>
</ul>

<button type="button" (click)="funcao()">Clique aqui</button> -->
<!-- 
<input name='texto' [(ngModel)]='textoMostrado' />
<p>{{textoMostrado}}</p> -->
<!-- 
<div class="row margin-top-adjustment">
    <div class="col-md-6 col-md-offset-3">
        <div class="col-md-6">
            <app-calculator></app-calculator>   
        </div>
    </div>
</div> -->

<!-- <app-list [dataset]='cursos' [tituloLista]="'Cursos'" (eventoDisparado)='recebeEvento($event)'></app-list>
<app-list [dataset]='pessoas' [tituloLista]="'Pessoas'" (eventoDisparado)='recebeEvento($event)'></app-list>

<p *ngIf="mostraTexto">Esse texto é mostrado quando o evento do input é disparado</p> -->

<app-form-aluno></app-form-aluno>